/*********************
    BREAKPOINTS
*********************/

@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: 1024px) { @content ; }
  }
  @else if $point == tablet {
    @media (min-width: 720px) { @content ; }
  }
}

/*********************
      STYLES
*********************/

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
}

.enigma {
  display: none;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  .modal[aria-hidden="true"] {
    visibility: hidden;
    opacity: 0;
  }

  .modal-background {
    margin: auto;
    padding: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .modal-container {
      width: 50%;
      height: 90vh;
      background-color: #D8D7D7;
      border-radius: 25px;

      display: flex;
      flex-direction: column;

      .modal-button-close {
        align-self: flex-end;
        margin-top: 17px;
        margin-right: 16px;
        padding: 0 5px 2px 5px;
        background-color: #e00101;
        border: 5px solid #000335;
        border-radius: 5px;
        color: #fff;
        font-weight: bold;
        cursor: pointer;
      }

      .modal-content {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #000335;
      }
    }
  }
}

/* Homepage */

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: start;
  justify-content: start;
}

#door {
  height: 600px;
  width: 250px;
  margin-left: 250px;
  background-color: #000335;
  align-self: end;
}

#container-portrait {
  width: 20vw;
  height: 100vh;
  display: flex;
  align-items: start;
  justify-content: start;

  #portrait {
    width: 100vw;
    height: 100vh;
    margin-left: 50px;
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    justify-content: center;
    align-items: start;

    .portrait__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}




/* Page gallery */

.container-gallery {
  padding: 25px;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#gallery {
  width: 90vw;
  height: 100vh;
  display: grid;
  column-gap: 25px;
  row-gap: 5px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  @include breakpoint(tablet) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  @include breakpoint(desktop) {
    grid-template-columns: repeat(4, 250px);
    grid-template-rows: repeat(2, 1fr);
  }
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}